In [1]:
import pandas as pd

In [7]:
import zipfile

In [11]:
bikes=pd.read_csv("C:/Users/pooja/Downloads/archive (1)/london_merged.csv")

In [12]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [14]:
bikes.shape

(17414, 10)

In [15]:
bikes

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [16]:
bikes.is_holiday.value_counts()

is_holiday
0.0    17030
1.0      384
Name: count, dtype: int64

In [33]:
new_cols_dict={'timestamp':'time',
               'cnt':'count',
               't1':'temp_real_c','t2':'temp_feels_like_c',
               
               'hum':'humidity_perc','wind_speed':'wind_speed_kph',
               'weather_code':'weather','is_holiday':'is_holiday',
               'is_weekend':'is_weekend','season':'season'}
bikes.rename(new_cols_dict,axis=1,inplace=True)

In [35]:
bikes.head()

,time,count,temp_real_c,temp_feels_like_c,humidity_perctage,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.00930,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,0.00930,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,0.00965,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,0.01000,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,0.00930,6.5,1.0,0.0,1.0,3.0

In [29]:
bikes.humidity_perctage= bikes.humidity_perctage/100

In [38]:
new_cols_dict={'timestamp':'time',
               'cnt':'count',
               't1':'temp_real_c','t2':'temp_feels_like_c',
               
               'hum':'humidity_perc','wind_speed':'wind_speed_kph',
               'weather_code':'weather','is_holiday':'is_holiday',
               'is_weekend':'is_weekend','season':'season'}
bikes.rename(new_cols_dict,axis=1,inplace=True)

In [43]:
new_name={'humidity_perctage':'humidity_perc'}
bikes.rename(new_name,axis=1,inplace=True)

In [46]:
season_dict={'0.0':'spring',
            '1.0':'summer',
            '2.0':'autumn',
            '3.0':'winter'}

In [48]:
weather_dict={'1.0':'clear',
              '2.0':'scattered cloud',
              '3.0':'broken clouds',
              '4.0':'cloudy',
              '7.0':'rain',
              '10.0':'rain with thunder',
              '26.0':'snowfall'}

In [49]:
bikes.season=bikes.season.astype('str')

In [50]:
bikes.season=bikes.season.map(season_dict)

In [51]:
## to check the implemented changes in data set

bikes.head()

,time,count,temp_real_c,temp_feels_like_c,humidity_perc,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.00930,6.0,3.0,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.00930,5.0,1.0,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.00965,0.0,1.0,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,0.01000,0.0,1.0,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.00930,6.5,1.0,0.0,1.0,winter

In [52]:
bikes.weather=bikes.weather.astype('str')

In [53]:
bikes.weather=bikes.weather.map(weather_dict)

In [54]:
bikes.head()

,time,count,temp_real_c,temp_feels_like_c,humidity_perc,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.00930,6.0,broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.00930,5.0,clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.00965,0.0,clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,0.01000,0.0,clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.00930,6.5,clear,0.0,1.0,winter

In [85]:
## Convert the dataset to excel file for visualization in tableau

bikes.to_excel('london_merged_.xlsx',sheet_name='Data')

In [86]:
## Select the location 

file_path="C:/Users/pooja/Downloads/london_bikes_.xlsx"

In [87]:
bikes.to_excel(file_path)

In [ ]:
## We can use the excel file for further dashboard creations.